{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}


{% block navbar %}

<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
    <div class="container padding_786">
        <nav class="navbar navbar-toggleable-md navbar-light ">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            <a class="navbar-brand" href="#"><img src="images/logo.png" alt="img" class="mobile_logo_width"/></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'home_page' %}"> Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'blog_page' %}"> Blog <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        {% if first.slug %}
                        <a class="nav-link" href="{% url 'single_page' first.slug %}"> Single <span class="sr-only">(current)</span></a>
                        {% endif %}
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> {{ user.username | title }} <span
                                class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                            <a class="dropdown-item" href="{% url 'password_change' %}"> Change password </a>
                            <a class="dropdown-item" href="{% url 'logout' %}"> Logout </a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> Anonymous <span class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                            <a class="dropdown-item active" href="{% url 'user_register' %}"> Sign up </a>
                            <a class="dropdown-item" href="{% url 'login' %}"> Login </a>
                            <a class="dropdown-item" href="{% url 'password_reset' %}"> Password recovery </a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>

{% endblock navbar %}


{% block content %}


<div class="container-fluid mb-4">
    <div class="container">
        <div class="col-12 text-center contact_margin_svnit ">
            <div class="text-center fh5co_heading py-2 text-primary"> Registration</div>
        </div>
        {% for message in messages %}
        <h5 class="text-danger">{{message}}</h5>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success"> Signup</button>
        </form>
    </div>
</div>

{% endblock content %}