{% extends 'layout/base.html' %}
{% load hitcount_tags %}
{% load static  %}


{% block navbar %}

<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
    <div class="container padding_786">
        <nav class="navbar navbar-toggleable-md navbar-light ">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            <a class="navbar-brand" href="#"><img src="images/logo.png" alt="img" class="mobile_logo_width"/></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home_page' %}"> Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'blog_page' %}"> Blog <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        {% if first.slug %}
                        <a class="nav-link" href="{% url 'single_page' first.slug %}"> Single <span class="sr-only">(current)</span></a>
                        {% endif %}
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> {{ user.username | title }} <span
                                class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                            <a class="dropdown-item" href="{% url 'password_change' %}"> Change password </a>
                            <a class="dropdown-item" href="{% url 'logout' %}"> Logout </a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> Anonymous <span class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                            <a class="dropdown-item" href="{% url 'user_register' %}"> Sign up </a>
                            <a class="dropdown-item" href="{% url 'login' %}"> Login </a>
                            <a class="dropdown-item" href="{% url 'password_reset' %}"> Password recovery </a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container-fluid paddding mb-5">
    <div class="row mx-0">
        <div class="col-md-6 col-12 paddding animate-box" data-animate-effect="fadeIn">
            <div class="fh5co_suceefh5co_height"><img src="{{ first.image.url }}" alt="img"/>
                <div class="fh5co_suceefh5co_height_position_absolute"></div>
                <div class="fh5co_suceefh5co_height_position_absolute_font">

                    <div class="">
                        {% if first.slug %}
                        <a href="{% url 'single_page' first.slug %}" class="fh5co_good_font text-info">
                            {{ first.title | truncatewords:7 }}
                        </a>
                        {% endif %}
                    </div>
                    <br>
                    <div class="">
                        <p class="color_fff">
                            <i class='fa fa-calendar'></i> {{ first.published_time | date:"d/m/Y" }} |
                            {% if get_hit_count %}
                            <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for first %}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                {% for object in object_list %}
                {% if forloop.counter < 5 and forloop.counter > 1 %}
                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2"><img src="{{ object.image.url }}" alt="img"/>
                        <div class="fh5co_suceefh5co_height_position_absolute"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class="">
                                <a href="{% url 'single_page' object.slug %}" class="fh5co_good_font_2 text-info">
                                    {{ object.title | truncatewords:7 }}
                                </a>
                            </div>
                            <br>
                            <div class="">
                                <p class="color_fff">
                                    <i class='fa fa-calendar'></i> {{ object.published_time | date:"d/m/Y" }} |
                                    {% if get_hit_count %}
                                    <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for object %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock navbar %}

{% block content %}


<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4 text-primary">Trending</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            {% for object in object_list %}
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="{{ object.image.url }}" alt=""/></div>
                    <div>
                        <a href="{% url 'single_page' object.slug %}" class="d-block fh5co_small_post_heading">
                            <span class=""> {{ object.title | truncatewords:7 }} </span>
                        </a>
                        <div class="c_g">
                            <i class='fa fa-calendar'></i> {{ object.published_time | date:"d/m/Y" }} |
                            <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for object %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4 text-primary">News</div>
                </div>
                {% for object in object_list %}
                {% if forloop.counter < 5 %}
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="{{ object.image.url }}" alt=""/></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7 animate-box">
                        <a href="{% url 'single_page' object.slug %}" class="fh5co_magna py-2">
                            {{ object.title | truncatewords:7 }}
                        </a><br>
                        <p class="fh5co_mini_time py-3">
                            <i class='fa fa-calendar'></i> {{ object.published_time | date:"d/m/Y" }} |
                            <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for object %}
                        </p>
                        <div class="fh5co_consectetur">
                            {{ object.body | truncatewords:25 | safe}}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4 text-primary">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    {% for object in category_list %}
                    <a href="{% url 'category_page' object.slug %}" class="fh5co_tagg">{{ object.name }}</a>
                    {% endfor %}
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4 text-primary">Most Popular</div>
                </div>

                {% for object in object_list %}
                {% if forloop.counter < 8 %}
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="{{ object.image.url }}" alt="img" class="fh5co_most_trading"/>
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font">
                            <a href="{% url 'single_page' object.slug %}" class="text-danger">
                                {{ object.title | truncatewords:5 }}
                            </a>
                        </div>
                        <div class="most_fh5co_treding_font_123">
                            <i class='fa fa-calendar'></i> {{ object.published_time | date:"d/m/Y" }} |
                            <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for object %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}